.boxy{
    height: 10rem;
    border: 1px solid black;
}
.note {
    width: 70%;
    display: inline-block !important;
    padding: 1.7rem;
}
.time {
    height: 25%;
    text-align: right;
    padding: 0.6rem;

}

.btns{
    width: 28%;
    display: inline-block !important;
}